nav {
    position: absolute;
    right: 30px;
    top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    background: rgba(25, 190, 85, 0.67);
    border-radius: 20px;
    display: inline-flex; /* Gunakan inline-flex agar elemen tetap sejajar */
    align-items: center;
    gap: 10px;
    padding: 20px 20px;
}


nav a span {
    white-space: nowrap;
    font-size: 1rem;
}

.sidebar {
    width: 95px;
    height: 100vh;
    background: linear-gradient(rgba(9, 100, 46, 0.82), rgb(10, 99, 42, 0.82), rgb(18, 118, 38, 0.82));
    color: white;
    transition: width 0.3s;
    position: fixed;
    font-size: 23px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    font-family: "Poppins", sans-serif;
}

.sidebar .menu {
    padding: 10px;
    padding-top: 175px;
    
}
.sidebar .menu a {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}
.sidebar .menu a:hover {
    background: linear-gradient(to bottom right,rgba(28, 185, 91, 0.82), rgba(39, 185, 92, 0.82), rgba(10, 155, 39, 0.82));

    border-radius: 15px;
}

.sidebar .menu a.active{
    background: linear-gradient(to bottom right,rgba(28, 185, 91, 0.82), rgba(39, 185, 92, 0.82), rgba(10, 155, 39, 0.82)) !important;
    border-radius: 15px !important;

}

.menu a i{
    position: relative;
    z-index: 2; /* Supaya ikon di atas tooltip */
}





.menu a span {
    position: absolute;
    left: 120%;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(to bottom right,rgba(28, 185, 91, 0.82), rgba(39, 185, 92, 0.82), rgba(10, 155, 39, 0.82));


    color: white;
    padding: 8px 10px;  
    z-index: 10;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    box-shadow: 2px 2px 2px 0px rgba(10, 82, 34, 0.62);
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}



/* Efek muncul tooltip saat hover */
.menu a:hover span {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%) translateX(20px);
}

/* Tambahkan segitiga kecil pada tooltip */
.menu a span::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(12, 101, 36, 0.82) transparent transparent;
}





/* ------------------------------------------------------- */
.sidebar .logout {
    /* margin-top: 250px; */
    position: absolute;
    bottom: 80px;
    display: flex;
    align-items: center;
    padding: 15px;
    color: white;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

a.logout:hover{
    background: rgba(237, 46, 36, 0.81);
    border-radius: 15px;
}

.logout .tooltip-logout{
    position: absolute;
    left: 120%;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(237, 46, 36, 0.81);
    color: white;
    padding: 8px 10px;  
    z-index: 10;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

a.logout:hover span{
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%) translateX(20px);
}

a.logout span::before{
    content: "";
    position: absolute;
    left: -9px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(237, 46, 36, 0.81) transparent transparent;
}

.logo {
    cursor: pointer;
    padding: 2px;
    text-align: center;
    background: rgba(245, 255, 249, 0.87);
    border-radius: 20px;
    display: flex;
    top: 25px;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 5px;
    z-index: 10;
    
    /* Tambahkan transform awal dan transition */
    transition: transform 1s ease-in-out;
}

.logo.animate {
    animation: logo-rotate2 2s ease-in-out forwards alternate;
}

@keyframes logo-rotate {
    from {border-radius: 20px; transform: rotate(0deg);}
    to   {border-radius: 50%; transform: rotate(360deg);}
}

@keyframes logo-rotate2 {
    0% {
        border-radius: 20px;
        transform: rotate(0deg) scale(1);
    }
    50% {
        border-radius: 50%;
        transform: rotate(360deg);
    }
    75% {
        transform: translate(60px, 0px);
    }
    100% {
        transform: translate(80px, 0px) rotate(0deg) scale(2.5);
    }
    80% { /* Mulai kembali ke posisi awal */
        transform: translate(60px, 0px);
    }
    90% {
        transform: rotate(-10deg) translate(30px, 0px);
    }
    100% {
        transform: rotate(0deg) translate(0, 0) scale(1);
    }
}



.logo img{
    padding: 5px 2px;
    z-index: 5;
}


/* End Sidebar CSS */




